<template>
  <div>
    <q-dialog
      :value="input"
      @input="LogEvent($event)"
      persistent
      :maximized="false"
      transition-show="jump-down"
      transition-hide="jump-up"
    >
      <q-card class="text-white full-width full-height">
        <q-bar class="bg-primary">
          Einstellungen/Lizenzen
          <q-space />
          <q-btn flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>
        <div>
          <q-tabs inline-label v-model="tabs">
            <q-tab name="setting" icon="settings" label="Einstellungen" />
            <q-tab name="license" icon="chrome_reader_mode" label="Lizenzen" />
          </q-tabs>
          <q-tab-panels v-model="tabs" swipeable animated>
            <q-tab-panel name="setting">
              <div>
                <q-toggle v-model="ltr" color="green" label="Suche Rechts" />
              </div>

              <q-btn color="primary" icon="refresh" label="Neuladen" @click="ReloadPage" />
            </q-tab-panel>
            <q-tab-panel name="license">
              <p>
                Daten-Quelle:
                <a target="_blank" href="https://gitlab.com/Manuel_Raven/dienststellen-scraper-extended">thw.de Scrapper</a>
              </p>
              <p>
                Icons:
                <a
                  target="_blank"
                  href="https://github.com/jonas-koeritz/Taktische-Zeichen"
                >Taktische Zeichen</a>
              </p>
              <p class="text-h5" style="text-decoration: underline">Lizenzen genutzer OSS:</p>
              <q-markdown :src="markdown" />
            </q-tab-panel>
          </q-tab-panels>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
// eslint-disable-next-line @typescript-eslint/ban-ts-comment
// @ts-expect-error
import markdown from './../../licenses.md'
@Component({
  components: {}
})
export default class infoandsettings extends Vue {
  @Prop() input!: boolean;
  // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment
  markdown = markdown;
  tabs = 'setting';
  ltr = false;
  LogEvent (event: boolean) {
    this.$emit('input', event)
    console.log(event)
  }

  created () {
    // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment
    this.ltr = JSON.parse(window.localStorage.getItem('ltr') || 'false')
  }

  @Watch('ltr')
  SetNewValueLtr (newvalue: boolean) {
    window.localStorage.setItem('ltr', JSON.stringify(newvalue))
  }

  ReloadPage () {
    window.location.reload()
  }
}
</script>

<style scoped>
</style>
