<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>THW-Adressbuch</q-toolbar-title>

        <div>2021.03</div>
        <q-btn
          round
          color="secondary"
          flat
          :icon="$geolocation.coords ? 'location_on' : 'location_off'"
          :disable="$geolocation.coords ? true:false"
          @click="OpenLocationDialog"
        />
        <q-btn
          round
          color="secondary"
          flat
          icon="settings"
          @click="open = true"
        />
      </q-toolbar>
    </q-header>
    <q-page-container v-if="fulloaded">
      <router-view />
    </q-page-container>
    <infoandsettings :input="open" @input="open = $event"></infoandsettings>
  </q-layout>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import infoandsettings from 'components/infoandsettings.vue'
import thwdeService from 'src/service/thwde.service'
@Component({
  components: {
    infoandsettings
  }
})
export default class MainLayout extends Vue {
  open = false
  leftDrawerOpen = false
  fulloaded = false
  async created () {
    this.$q.dark.set(true)
    this.fulloaded = await thwdeService.InitData()
  }

  OpenLocationDialog () {
    this.$q
      .dialog({
        title: 'Lokalisierung aktivieren?',
        message: 'Durch das auswählen der "OK" Taste, bestätigen sie das diese Web Anwendung ihren aktuellen Standort abfragen darf. Ihr Standort wird lokal auf diesem Gerät weiter verarbeitet und wird an keine Server versendet.',
        cancel: { label: 'abbrechen', color: 'red' },
        ok: { label: 'ok', color: 'green' },
        persistent: true
      })
      .onOk(async () => {
        try {
          const pos = this.$geolocation.getCurrentPosition({
            watch: true,
            options: {}
          })
          console.log(await pos)
        } catch (error) {
          console.log(error)
          this.OpenBrowserBlockDialog()
        }
      })
  }

  OpenBrowserBlockDialog () {
    this.$q.dialog({
      title: 'Fehler | Browser blockiert',
      message: 'Der Standort kann nicht abgerufen werdern da ihr Browser oder eine Erweiterung den Abruf blockiert.'
    })
  }
}
</script>
